
.school-id {
    height: 25px;
    background-color: rgb(183, 219, 168);
  }
.school-name {
    height: 25px;
    background-color: rgb(188, 204, 129);
  }
  .school-address {
    height: 25px;
    background-color: rgb(218, 66, 66);
  }